<?xml version="1.0" encoding="utf-8" ?>
<ConfigModel>
  <!---->
  <Debug>false</Debug>
  <DefaultPassMinLength>12</DefaultPassMinLength>
  <DefaultTokenExpire>24</DefaultTokenExpire>
  <!---->
  <IdentityAdminBaseUrl>https://yolo.test.ochap.net</IdentityAdminBaseUrl>
  <IdentityMeBaseUrl>https://yolo.test.ochap.net</IdentityMeBaseUrl>
  <IdentityStsBaseUrl>https://yolo.test.ochap.net</IdentityStsBaseUrl>
  <!--<IdentityAdminBaseUrl>https://localhost:44302</IdentityAdminBaseUrl>-->
  <!--<IdentityMeBaseUrl>https://localhost:44303</IdentityMeBaseUrl>-->
  <!--<IdentityStsBaseUrl>https://localhost:44304</IdentityStsBaseUrl>-->
  <!---->
</ConfigModel>