<?xml version="1.0" encoding="utf-8" ?>
<Global>
  <!---->
  <Debug>false</Debug>
  <DefaultPasswordLength>12</DefaultPasswordLength>
  <!---->
  <DefaultAuthorizationCodeLength>6</DefaultAuthorizationCodeLength>
  <DefaultAuthorizationCodeLife>10080</DefaultAuthorizationCodeLife>
  <DefaultAccessTokenLife>10</DefaultAccessTokenLife>
  <DefaultFailedAccessAttempts>10</DefaultFailedAccessAttempts>
  <DefaultRefreshTokenLife>10080</DefaultRefreshTokenLife>
  <!---->
  <IdentityAdminBaseUrl>https://yolo.test.ochap.net</IdentityAdminBaseUrl>
  <IdentityMeBaseUrl>https://yolo.test.ochap.net</IdentityMeBaseUrl>
  <IdentityStsBaseUrl>https://yolo.test.ochap.net</IdentityStsBaseUrl>
  <!--<IdentityAdminBaseUrl>https://localhost:44302</IdentityAdminBaseUrl>-->
  <!--<IdentityMeBaseUrl>https://localhost:44303</IdentityMeBaseUrl>-->
  <!--<IdentityStsBaseUrl>https://localhost:44304</IdentityStsBaseUrl>-->
  <!---->
</Global>