<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bhbk.Lib.Common" version="2019.10.21.2046" targetFramework="net48" />
  <package id="Bhbk.Lib.Cryptography" version="2019.10.21.2046" targetFramework="net48" />
  <package id="Bhbk.Lib.DataAccess.EF" version="2019.10.21.2046" targetFramework="net48" />
  <package id="CryptoHelper" version="3.0.2" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="3.1.2" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="3.1.2" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.5.2" targetFramework="net48" />
</packages>