
<div>
  <form novalidate #roleForm="ngForm">
    <kendo-grid
      [data]="roleData"
      [loading]="roleLoading"
      [pageable]="true"
      [pageSize]="roleState.take"
      [skip]="roleState.skip"
      [sortable]="true"
      [sort]="roleState.sort"
      (pageChange)="pageChange($event)"
      (dataStateChange)="dataStateChange($event)">
      <kendo-grid-column field="name" title="Name"></kendo-grid-column>
      <kendo-grid-column field="description" title="Description"></kendo-grid-column>
      <kendo-grid-column field="created" title="Created"></kendo-grid-column>
      <kendo-grid-column field="lastUpdated" title="Last Updated"></kendo-grid-column>
      <kendo-grid-column field="immutable" title="Immutable" [width]="125"></kendo-grid-column>
    </kendo-grid>
  </form>
</div>
