<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bhbk.Lib.Common" version="2020.11.27.2100" targetFramework="net48" />
  <package id="Bhbk.Lib.Cryptography" version="2020.11.27.2100" targetFramework="net48" />
  <package id="Bhbk.Lib.DataAccess.EF" version="2020.11.27.2100" targetFramework="net48" />
  <package id="CryptoHelper" version="3.0.2" targetFramework="net48" />
  <package id="Effort.EF6" version="2.2.13" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="5.0.5" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="5.0.5" targetFramework="net48" />
  <package id="NMemory" version="3.1.2" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net48" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net48" />
</packages>